@media only screen and (max-width: 767px) {
  * {
    overflow-y: hidden;
  }
  h1 {
    font-size: 25px;
  }
  main {
    position: relative;
    width: 100rem;
    height: 50rem;
    display: flex;
  }
  .player {
    flex: 50%;
    padding: 5rem;
  }
  .name {
    font-size: 16px;
    top: 2rem;
  }

  .current {
    width: 100%;
    padding: 1rem;
    margin-top: 20rem;
  }

  .current-label {
    font-size: 1.5rem;
  }

  /* ABSOLUTE POSITIONED ELEMENTS */
  .btn {
    padding: 0.4rem 1.2rem;
    border-radius: 50rem;
  }

  .btn::first-letter {
    margin-right: 0.5rem;
  }

  .btn--new {
    top: 1rem;
  }
  .btn--roll {
    top: 26rem;
  }
  .btn--hold {
    top: 33rem;
  }
  .dice {
    top: 14.5rem;
    height: 7rem;
  }
}
